<footer id='ui-footer-right'>
    <!-- Copyright 2021 Karenia Works, licensed under CC-BY-SA. -->
    <a href="https://creativecommons.org/licenses/by-sa/2.0/">
        <i class="ri-creative-commons-line"></i><i class="ri-creative-commons-by-line"></i><i
            class="ri-creative-commons-sa-line"></i>
    </a><br>
    &copy; Karenia Works<br />
    Powered by Ghost, using theme <a href="https://github.com/lynzrand/ghost-theme-dres">Dres</a>.
</footer>
