<footer id='ui-footer-right'>
    <!-- Copyright 2021 Karenia Works, licensed under CC-BY-SA. -->
    <a href="https://creativecommons.org/licenses/by/2.0/">
        <i class="ri-creative-commons-line"></i><i class="ri-creative-commons-by-line"></i>{{!-- <i
            class="ri-creative-commons-sa-line"></i> --}}
    </a><br>
    &copy; 2021-{{date format="YYYY"}} Karenia Works<br />
    Powered by <a href="https://ghost.org/">Ghost</a>, using theme <a
        href="https://github.com/lynzrand/ghost-theme-dres">Dres</a>.
</footer>
