@import './google-fonts.less';
@import './fonts/inter/inter.less';
@import './theme.less';
@import './viewport.less';
@import './post.less';

:root {
  --font-default: 'Inter var', 'Inter', 'Source Han Sans SC', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  // font stuff
  font-family: var(--font-default);
  font-size: 18px;

  // display stuff
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // spaces
  padding: 0;
  margin: 0;
  min-height: 100vh;

  background: var(--color-bg);
  color: var(--color-fg);

  .light-theme();
}

@media (prefers-color-scheme: dark) {
  body {
    .dark-theme();
  }
}
@media (prefers-color-scheme: light) {
  body {
    .light-theme();
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

pre,
code {
  font-family: var(--font-mono);
}

// ======= Banner stuff ======

.narrow-header-wrapper {
  height: 72px;
  margin-bottom: -72px;
  z-index: 100;
  padding-left: 24px;
  padding-right: 24px;

  .narrow-header-root {
    background-color: linear-gradient(90deg, var(--color-bg), transparent);

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 16px;
  }
}

.banner-image {
  height: 35vh;
  object-fit: cover;

  background: var(--chroma-img-placeholder);
}

.banner-placeholding-spacer {
  height: 72px;
}

.logo {
  font-family: 'JetBrains Mono', monospace;
  color: var(--color-fg-emph);
  a {
    text-decoration: none;
  }
  .page-wide & {
    font-size: 36px;
  }
  .page-narrow & {
    font-size: 18px;
    margin-right: 24px;
  }
  font-weight: 900;
  line-height: 100%;
}

.wide-banner-wrapper {
  position: sticky;
  z-index: -100;
  box-sizing: border-box;
  height: 0px;
  top: 0px;
}

.wide-banner-wrapper-inner {
  padding: 48px;
}

.banner-topleft {
  position: sticky;
  left: 0;
  top: 0;
}

ul.nav {
  list-style-type: none;
  padding: 0;

  .page-wide & {
    display: flex;
    flex-direction: column;
  }
  .page-narrow & {
    display: flex;
    flex-direction: row;
  }

  li {
    color: var(--color-fg-transparent);
    .page-wide & {
      margin-bottom: 8px;
    }
    .page-narrow & {
      margin-right: 24px;
    }

    &.nav-current {
      color: var(--color-fg-emph);
    }

    a {
      text-decoration: none;
    }
  }
}

.spacer {
  flex-grow: 1;
}

// ====== body =======

.index-page {
  --body-inset-size: 48px;
}

.post-page {
  --body-inset-size: 96px;
}

.body-container {
  .when-wider-than(@breakpoint-sm-md, {
    width: 40rem;
    align-self: center;

    &.with-banner-image {
      margin-top: calc(-1 * var(--body-inset-size));
      min-height: var(--body-inset-size);
    }
  });

  .when-narrower-than(@breakpoint-sm-md, {
    align-self: stretch;
  });

  padding: 32px;
  background-color: var(--color-bg);
}

// ===== footer =====

footer {
  text-align: right;
  color: var(--color-secondary);
  padding: 16px;
  font-size: 14px;

  .when-wider-than(@breakpoint-md-lg,{
    position: sticky;
    bottom: 0;
  });
}
