// ===== Post abstract ====
.post {
  // margin merges
  margin-bottom: 48px;

  h2 {
    font-size: 28px;
    line-height: 28px;
    color: var(--color-fg-emph);
    margin-top: 0px;
    margin-bottom: 8px;
    a {
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        color: var(--color-fg);
      }
    }
  }
  .meta {
    font-size: 16px;
    color: var(--color-secondary);
  }
  .body {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 16px;
  }
}
