.dark-theme {
  --color-bg: #1d1f20;
  --color-bg-emph: #1d1f20;
  --color-secondary: #a2b3b8;
  --color-fg: #cedbdf;
  --color-fg-emph: #ffffff;
}

.light-theme {
  --color-bg: #ffffff;
  --color-bg-emph: #cedbdf;
  --color-secondary: #606669;
  --color-fg: #373b3c;
  --color-fg-emph: #000000;
}
